In [2]:
# Database management
import sqlalchemy as sa
import psycopg2

# Data wrangling
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime, timedelta



# Data visualisation
import matplotlib.pylab as plt
%matplotlib inline
import seaborn
seaborn.set()

# utilities
import pprint as pp

In [3]:
# load up database scripts and connect to db
conn_eops = {'user': 'uds_read',
            'host': 'UCLVLDDDTAEPS02',
            'port': 5432,
            'password': 'klq;wed-0i439^^%',
            'database': 'uds'      
            }

def gen_connection_string(d, engine='postgresql'):
    """Generates a SQLAlchemy connection string from a dictionary"""
    # e.g. # engine = create_engine('postgresql+psycopg2://steve@localhost:5432/omop')
    # TODO @later permit other interfaces
    d['port'] = str(d['port'])

    if engine == 'postgresql':
        if d.get('password'):
            return 'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'.format(**d)
        else:
            return 'postgresql+psycopg2://{user}@{host}:{port}/{database}'.format(**d)

    elif engine == 'psycopg2':
        if d.get('password'):
            return 'host={host} dbname={database} user={user} password={password} port={port}'.format(**d)
        else:
            return 'host={host} dbname={database} user={user} port={port}'.format(**d)

In [4]:
URL = gen_connection_string(conn_eops, engine='postgresql')
DSN = gen_connection_string(conn_eops, engine='psycopg2')
conn = psycopg2.connect(DSN, options=f'-c search_path=live')

In [5]:
engine = sa.create_engine(URL, connect_args= {'options': '-c search_path=live'})
inspector = sa.inspect(engine)
print(inspector.get_table_names())

['ids_progress', 'tbl_ids_master', 'person', 'person_mrn', 'ids_effect_logging', 'mrn_encounter', 'patient_fact', 'encounter', 'patient_property', 'attribute', 'mrn']

In [6]:
metadata = sa.MetaData()
metadata.reflect(bind=engine)
ttables = metadata.sorted_tables
ttables = {t.name:t.columns.keys() for t in ttables}
ttables.keys()

dict_keys(['attribute', 'encounter', 'ids_effect_logging', 'ids_progress', 'mrn', 'person', 'tbl_ids_master', 'mrn_encounter', 'patient_fact', 'person_mrn', 'patient_property'])

In [8]:
# let's inspect the columns
pd.read_sql('attribute', engine)

,attribute_id,added_time,description,result_type,short_name
0,1,2019-03-04 17:00:00+00:00,First name,1,F_NAME
1,2,2019-03-04 17:00:00+00:00,Middles names separated by spaces,1,M_NAME
2,3,2019-03-04 17:00:00+00:00,Family name,1,L_NAME
3,4,2019-03-04 17:00:00+00:00,Fact group containing name data,0,NAMING
4,5,2019-03-05 11:33:00+00:00,Fact group about a hospital visit,0,HOSP_VISIT
5,6,2019-03-19 16:40:00+00:00,Fact group about a bed visit,0,BED_VISIT
6,7,2019-03-05 11:33:00+00:00,Time of arrival,2,ARRIVAL_TIME
7,8,2019-03-05 11:33:00+00:00,Time of departure,2,DISCH_TIME
8,9,2019-03-19 16:40:00+00:00,Location,1,LOCATION
9,10,2019-03-20 11:56:00+00:00,Parent visit,3,VISIT_PAREN
10,11,2019-04-11 10:00:00+00:00,General Demographics that are single key value...,0,GENERAL_DEMO
11,12,2019-04-11 10:00:00+00:00,Date of Birth,2,DOB
12,13,2019-04-11 10:00:00+00:00,Sex,4,SEX
13,14,2019-04-11 10:00:00+00:00,Male,0,MALE
14,15,2019-04-11 10:00:00+00:00,Female,0,FEMALE
15,16,2019-04-11 10:00:00+00:00,Other,0,OTHER
16,17,2019-04-11 10:00:00+00:00,Unknown,0,UNKNOWN
17,18,2019-04-11 10:00:00+00:00,Postcode,1,POST_CODE
18,19,2019-04-11 10:00:00+00:00,NHS number,1,NHS_NUMBER
19,20,2019-06-20 16:00:00+00:00,Fact type,0,PATH_RESULT
20,21,2019-06-20 16:00:00+00:00,Local code for the battery of tests,1,PATH_BATT_COD
21,22,2019-06-20 16:00:00+00:00,Local description for the battery of tests,1,PATH_BATT_DESC
22,23,2019-06-20 16:00:00+00:00,Local code for the single test item,1,PATH_TEST_COD
23,24,2019-06-20 16:00:00+00:00,Local description for the single test item,1,PATH_TEST_DESC
24,25,2019-06-20 16:00:00+00:00,Coding system (aka vocab) for the test code,1,PATH_COD_SYS
25,26,2019-06-20 16:00:00+00:00,Pathology result numerical value,5,PATH_NUM_VALUE
26,27,2019-06-20 16:00:00+00:00,Pathology result numerical value units,1,PATH_NUM_UNITS
27,28,2019-07-13 17:00:00+00:00,Reference range for the result,1,PATH_REF_RANGE
28,29,2019-07-13 17:00:00+00:00,When the result was last updated,2,PATH_RES_TIME
29,30,2019-07-13 17:00:00+00:00,The status of the result (final etc),1,PATH_RES_STS
30,31,2019-07-23 15:00:00+00:00,Pathology order fact type,0,PATH_ORDER
31,32,2019-07-23 15:00:00+00:00,Pathology order control ID,1,PATH_ORD_CTL_ID
32,33,2019-07-23 15:00:00+00:00,Pathology Epic order number,1,PATH_EPIC_NUM
33,34,2019-07-25 18:00:00+00:00,Pathology order lab/specimen number aka access...,1,PATH_LAB_NUM
34,35,2019-07-25 18:00:00+00:00,Pathology order lab/specimen number with extra...,1,PATH_OCS_NUM
35,36,2019-07-31 17:00:00+00:00,Sample collection/observation time,2,PATH_COLL_TIME
36,37,2019-07-31 17:00:00+00:00,When the order was originally made,2,PATH_ORDER_TIME
37,38,2019-07-31 17:00:00+00:00,The type of the patient that the order relates to,1,PATH_ORDER_TYPE
38,39,2019-07-31 17:00:00+00:00,Time of last change of status for the order,2,PATH_STS_TIME
39,40,2019-08-15 17:00:00+00:00,Local code of the isolate,1,PATH_ISOL_CODE

In [18]:
pds = pd.read_sql(
    """select distinct on (pp1.value_as_string) 
        pp1.value_as_string, 
        pp2.value_as_string,
        pp1.parent_fact 
     from patient_property pp1 
     left join patient_property pp2 
        on pp1.parent_fact = pp2.parent_fact 
        where pp2.attribute=24 
        or
        pp1.attribute = 23;
    """
    , engine)
pds

     value_as_string value_as_string  parent_fact
0               1433               F     98973442
1                1AD               F     53806148
2               1CAM               F     96397747
3                1EG               F     63468074
4                1HD               F     51929671
...              ...             ...          ...
2073            ZINC               F     99389554
2074             ZNS               F     99136548
2075            ZNSD               F     99136566
2076            ZNST               F     99136557
2077            ZNT8               F     87820102

[2078 rows x 3 columns]

In [22]:
res = pd.concat([pds, pds.value_as_string.str.split('\\^', expand=True)], axis=1)
res

                  value_as_string         0               1          2
0     GWNC^CHALF WGC SR21^SR21-21      GWNC  CHALF WGC SR21    SR21-21
1         RBNQ^Q3NRU WAITING^WAIT      RBNQ   Q3NRU WAITING       WAIT
2          T12S^T12S BY04^BY04-27      T12S       T12S BY04    BY04-27
3           T01^T01 BY04^BY04-53B       T01        T01 BY04   BY04-53B
4          MVNQ^Q6MV BY03^BY03-06      MVNQ       Q6MV BY03    BY03-06
...                           ...       ...             ...        ...
1832  MCUN^E03MCUN BY05^BY05-C15B      MCUN    E03MCUN BY05  BY05-C15B
1833        HASU^T07 BY05^BY05-24      HASU        T07 BY05    BY05-24
1834      MFNQ^C4MLF BY02^BY02-05      MFNQ      C4MLF BY02    BY02-05
1835        T01^T01 BY04^BY04-49B       T01        T01 BY04   BY04-49B
1836   EDHRSURG^ED REST WAIT^WAIT  EDHRSURG    ED REST WAIT       WAIT

[1837 rows x 4 columns]

In [23]:
res.sort_values(by=0).to_csv('extract_locations.csv')